<html>
<head>
	<meta charset="UTF-8">
	<title>AngularJS</title>
	<link rel="stylesheet" herf="./3p/bootstrap.css"></link>
	<script src="./3p/angular.js"></script>
	<script src="f.app.js"></script>
	<script src="f.ctrl.js"></script>
</head>
<body ng-app="app" ng-controller="MainController as main">
	nothing yet
	<br/>
	<h1>{{main.title}}</h1>
	<br/>
	<input ng-model="main.searchInput"></input>
	<p>{{main.searchInput}}</p>
	<br/>
	<ul>
		<li ng-repeat="show in main.shows | filter:main.searchInput | orderBy:main.order.key:main.order.reverse" >{{show.title}} <span ng-if="show.favorite">-good</span> </li>
	</ul>
	<select ng-model="main.order" ng-options="order as order.title for order in main.orders"></select>
</body>
</html>